@import './variables';
@import './media.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}

#app {
  width: 100%;
}

html {
  overflow-x: hidden;
}

body
{
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}


body,
input,
select,
button,
textarea {
  letter-spacing: 0.04px;
}

textarea,
button,
select,
input,
body,
span,
p {
  font-size: 13px;
}

body {
  display: flex;
  justify-content: center;
}


.btn {
  background-image: none;
	background: transparent;
	background-color: transparent;
  padding: 0 6px 0 18px !important;
  border: 1px solid $button-border-color;
  border-radius: 31px;
  color: $button-text-color;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.9px;
  margin: 29px 0 42px 0;
  height: 49px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease;

  &:disabled {
    pointer-events: none;
  }

  &:hover {
    color: #fff;
    background-color: $color-orange;
    border: 1px solid $color-orange;
  }

  &:active {

    box-shadow: none;
    transform: translateY(0);
    background-color: $color-white;
    color: $button-text-color;
    border: 1px solid $button-border-color;
  }

  @media (max-width: $medium-screen) {
    border-color: #fff;
    color: #fff;
  }
}


.btn_wb {
  background-color: $color-white;
  border: 1px solid $color-gray-1;
  border-radius: 31px;
  color: $color-black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  height: 49px;
  min-width: 133px;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease;
  width: 100%;

  &:disabled {
    pointer-events: none;
  }

  &:hover {
    color: $color-white;
    background-color: $color-orange;
    border: 1px solid $color-orange;
  }

  &:active {
    box-shadow: none;
    transform: translateY(0);
    background-color: $color-white;
    color: $button-text-color;
    border: 1px solid $button-border-color;
  }
}


.btn_ot {
  background-color: $color-orange; 
  border: 1px solid $color-orange;
  border-radius: 31px;
  color: $color-white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  height: 49px;
  min-width: 133px;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease;
  width: 100%;

  &:disabled {
    pointer-events: none;
  }

  &:hover {
    color: $color-white;
    background-color: $color-black;
    border: 1px solid $color-black;
  }

  &:active {
    box-shadow: none;
    transform: translateY(0);
    background-color: $color-orange;
    color: $color-white;
    border: 1px solid $color-orange;
  }
}

.no-scroll {
  overflow: hidden;
}
