// colors
$color-orange: #F77962;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #AAAAAA;
$color-gray-1: #7B7B7B;


// button color
$button-hover-color: $color-orange;
$button-text-color: $color-black;
$button-bg-color: $color-white;
$button-select-color: $color-orange;
$button-vector-color: $color-white;