// colors
$color-orange: #F77962;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #AAAAAA;
$color-gray-1: #7B7B7B;
$color-gray-2:#717171;
$color-gray-3:#D9D9D9;
$color-gray-4: #808080;
$color-gray-5: #323232;


//link color

$link-hover-color: $color-orange;

// button color
$button-hover-color: $color-orange;
$button-text-color: $color-black;
$button-bg-color: $color-white;
$button-select-color: $color-orange;
$button-vector-color: $color-white;
$button-border-color: $color-gray-1;

// select color
$select-main-color: $color-white;
$select-bg-color: $color-orange;


//home page colors
$text-agite-color:$color-gray-2;
$text-title-color: $color-black;
$prise-color: $color-gray-1;
$table-border-color: $color-gray-4;
$table-title-color: $color-gray-4;
$text-contacts-color: $color-gray-4;
$bg-follow-color: $color-gray-5;
$follow-us-title-color: $color-white;